.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/pattern-background-desktop.svg");
}

.wrapper {
  margin: 32px;
  background-color: white;
  width: 375px;
  border-radius: 20px;
  padding: 0 0 25px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.hero {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width:100%;
max-height:100%;
}

.title {
  color: var(--dark-blue);
  text-align: center;
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: 16px;
}

.desc {
  color: var(--des-blue);
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 16px;
}

.plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--very-pale-blue);
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 8px;
}

.planWrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-left: -48px;
}

.planWrapper > h3 {
  font-size: 14px;
  color: var(--dark-blue);
  font-weight: 900;
}

.planWrapper > p {
  font-size: 14px;
  color: var(--des-blue);
}

.change {
  color: var(--bright-blue);
  text-decoration: underline;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.change:active {
  color: var(--des-blue);
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  margin-right: 32px;
  gap: 8px;
}

.buttonPrimary {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--bright-blue);
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.buttonPrimary:focus {
  background-color: var(--des-blue);
}

.buttonSecondary {
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  background-color: transparent;
  color: var(--des-blue);
  cursor: pointer;
  font-weight: 700;
}

.buttonSecondary:focus {
  color: var(--dark-blue);
}